*{
  /*border:1px solid red;*/
  margin: 0;
  padding: 0;
  /*background-color: grey;*/
  margin: 0 auto;
}
body{
  /*display: flex;*/
  /*align-items: center;*/
  border: 1px red;
  height: 700px;
}

.container{
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

.box{
  float: left;
}

.grey{
  background-image: linear-gradient(grey, #696969);
    /*background-color: grey;*/
}
.aqua{
    background-image: linear-gradient(#00FFFF, #7FFFD4);
    /*background-color: #00FFFF;*/
}
.BlueViolet{
    background-image: linear-gradient(#8A2BE2, #9932CC);
    /*background-color: #8A2BE2;*/
}
.Cyan {
    background-image: linear-gradient(#00FFFF, #008B8B);
    /*background-color: #00FFFF;*/
}
.DarkOrange{
    background-image: linear-gradient(#FF8C00, #FF0000);
    /*background-color: #FF8C00;*/
}
.DeepSkyBlue {
    background-image: linear-gradient(#00BFFF, #1E90FF);
    /*background-color: #00BFFF;*/
}
.DeepPink{
    background-image: linear-gradient(#FF1493, #FF00FF);
    /*background-color: #FF1493;*/
}
.Fuchsia {
    background-image: linear-gradient(#FF00FF, #BA55D3);
    /*background-color: #FF00FF;*/
}
.Gold{
    background-image: linear-gradient(#FFD700, #FFFF00);
    /*background-color: #FFD700;*/
}
.Green{
    background-image: linear-gradient(#008000, #00FF00);
    /*background-color: #008000;*/
}
.LawnGreen{
    background-image: linear-gradient(#7CFC00, #00FF7F);
    /*background-color: #7CFC00;*/
}
